<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testng Parallel Test" parallel="tests" thread-count="5">

<!--<suite name="bigBoyTestReport">-->
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="bigBoyTestReport">
        <classes>
            <!--backendApi-->
            <class name="bigBoy.test.testFlash"/>
        </classes>
    </test>

</suite>

